div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300px;
  grid-gap: 16px;
  padding: 8px 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--primary);
  cursor: pointer;
  transition: transform .2s;
  border-radius: var(--small-border-radius);
}

img:hover {
  transform: scale(1.03);
}

.imageTemplate {
  width: 100%;
  height: 300px;
  background-color: var(--primary);
  border-radius: var(--small-border-radius);
}

@media only screen and (max-width: 716px) {
  div {
    grid-template-columns: 1fr;
  }
}
