.space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: minmax(8px, 1fr) minmax(200px, 1000px) minmax(8px, 1fr);
  justify-content: stretch;
}

stencil-router {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
