body {
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
  background-color: var(--secondary);
  font-size: 18px;
}

:root {
  --primary: #003070;
  --primaryDark: #000844;
  --primaryLight: #42599f;
  --onPrimary: #ffffff;
  --secondary: #eeeeee;
  --secondaryDark: #dddddd;
  --secondaryLight: #ffffff;
  --onSecondary: #000000;
  --alert: #D26969;
  --onAlert: #000000;
  --attention: #E9B347;
  --onAttention: #000000;
  --focus: #6CD269;
  --onFocus: #000000;
  --heading-font: 'Alsina', sans-serif;
  --text-font: 'SF-Compact-Text-Regular', sans-serif;
}



