div {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-self: center;
}

label {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 4px 0;
  font-size: 1rem;
  margin: 8px 0;
}

input {
  background: none;
  padding: 8px;
  border-radius: var(--small-border-radius);
  border: 1px solid var(--on-secondary);
  color: var(--on-secondary);
  font-size: 1rem;
  font-family: var(--text-font);
}

button {
  padding: 8px 20px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  font-size: 1.1rem;
  color: var(--on-primary);
  border-radius: var(--small-border-radius);
  transition: all .2s;
  cursor: pointer;
  font-family: var(--text-font);
  display: inline-block;
  width: fit-content;
  align-self: flex-end;
}

button:hover {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  color: var(--on-primary);
}

.alert {
  color: var(--alert);
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--on-secondary);
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
