button {
  padding: 8px 20px;
  background-color: transparent;
  border: 1px solid var(--primary);
  font-size: 1.1rem;
  color: var(--primary);
  border-radius: var(--small-border-radius);
  transition: all .2s;
  outline: none;
  cursor: pointer;
  font-family: var(--text-font);
  display: inline-block;
}

button:hover {
  transform: translateY(-1px);
  filter: drop-shadow(2px 2px 2px var(--drop-shadow));
}

.lowOnBackground {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--primary);
}

.lowOnBackground:hover, .middleOnBackground:hover {
  background-color: var(--primary-light);
  border: 1px solid var(--primary-light);
  color: var(--on-primary);
}

.lowOnPrimary {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--on-primary);
}

.lowOnPrimary:hover, .middleOnPrimary:hover {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  color: var(--on-primary);
}

.middleOnBackground {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.middleOnPrimary {
  background-color: transparent;
  border: 1px solid var(--on-primary);
  color: var(--on-primary);
}

.highOnBackground {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--on-primary);
}

.highOnBackground:hover {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  color: var(--on-primary);
}

.highOnPrimary {
  background-color: var(--on-primary);
  border: 1px solid var(--on-primary);
  color: var(--primary);
}

.highOnPrimary:hover {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  color: var(--on-primary);
}

.selected #active {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  top: 4px;
  left: 0;
  border-bottom: 2px solid var(--primary);
  padding: 1px calc(50% + 10px);
  margin: -4px -10px 0;
  animation-name: slideInFromLeft;
  animation-timing-function: ease-out;
  animation-duration: .2s;
  transition: border-bottom-color .2s;
}

.selected .lowOnPrimary #active, .selected .middleOnPrimary #active, .selected .highOnPrimary #active {
  border-bottom: 2px solid var(--on-primary);
}

.selected:hover #active {
  border-bottom-color: var(--on-primary);
}

@keyframes slideInFromLeft {
  0% {
    padding: 1px 0;
    opacity: 0;
    transform: translateX(calc(50% + 10px));
  }
  100% {
    padding: 1px calc(50% + 10px);
    opacity: 1;
    transform: translateX(0);
  }
}

:any-link {
  color: transparent;
}
