button {
  padding: 8px 20px;
  font-size: 1rem;
  border-radius: var(--small-border-radius);
  transition: all .2s;
  outline: none;
  cursor: pointer;
  font-family: var(--text-font);
  display: inline-block;
}

.lowOnBackground {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--on-secondary);
  padding: 4px;
}

stencil-route-link .lowOnBackground {
  color: var(--on-secondary-disabled);
}

.lowOnBackground:hover {
  color: var(--primary);
}

.lowOnPrimary {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--on-primary);
  padding: 4px;
}

stencil-route-link .lowOnPrimary {
  color: var(--on-primary-disabled);
}

.lowOnPrimary:hover {
  color: var(--on-primary);
}

.middleOnBackground {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.middleOnBackground:hover {
  background-color: var(--primary-light);
  border: 1px solid var(--primary-light);
  color: var(--on-primary);
}

.middleOnPrimary {
  background-color: transparent;
  border: 1px solid var(--on-primary);
  color: var(--on-primary);
}

.middleOnPrimary:hover {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  color: var(--on-primary);
}

.highOnBackground {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--on-primary);
}

.highOnBackground:hover {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  color: var(--on-primary);
}

.highOnPrimary {
  background-color: var(--on-primary);
  border: 1px solid var(--on-primary);
  color: var(--primary);
}

.highOnPrimary:hover {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  color: var(--on-primary);
}

.selected .lowOnPrimary {
  color: var(--on-primary);
}

.selected #active {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  top: 4px;
  left: 0;
  border-bottom: 2px solid var(--primary);
  padding: 1px calc(50% + 4px);
  margin: -4px -4px 0;
  animation-name: slideInFromLeft;
  animation-timing-function: ease-out;
  animation-duration: .2s;
  transition: border-bottom-color .2s;
}

.selected .lowOnPrimary #active {
  border-bottom: 2px solid var(--on-primary);
}

.selected:hover #active {
  border-bottom-color: var(--on-primary);
}

@keyframes slideInFromLeft {
  0% {
    padding: 1px 0;
    opacity: 0;
    transform: translateX(calc(50% + 4px));
  }
  100% {
    padding: 1px calc(50% + 4px);
    opacity: 1;
    transform: translateX(0);
  }
}

:any-link {
  color: transparent;
}
