h2 {
  font-size: 3rem;
  font-family: var(--heading-font);
  color: var(--primary);
  margin: 48px 0 16px;
  font-weight: 500;
}

@media only screen and (max-width: 1016px) {
  h2 {
    margin: 32px 0 12px;
  }
}
