
ul {
  padding-left: 20%;
  padding-right: 20%;
  display: grid;
  grid-auto-columns: auto;
  grid-template-areas: "a a a a";
  grid-gap: 15px;

}
li {
  list-style-type: none;
  grid-column-start: auto;
}
a {
  padding:5px 0 5px 0;
  text-decoration: none;
  color:inherit;
}

p a:hover, a:active {
  color:darkorange;
}

p{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding:0;
  margin:0;
}


