.wrapper {
  display: flex;
  flex-direction: column;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-self: center;
  grid-gap: 16px 32px;
}

img {
  width: 250px;
  background-color: var(--primary);
  border-radius: var(--small-border-radius);
}

h3 {
  text-align: center;
  margin: 0;
  font-size: 2rem;
  font-family: var(--heading-font);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  margin: 8px 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  margin: 8px 0;
}

hr {
  width: 100%;
  margin: 32px 0;
}

@media only screen and (max-width: 1016px) {
  .card {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-columns: auto;
    grid-template-areas: "image" "name" "contact";
    justify-content: center;
  }

  img {
    grid-area: image;
  }

  h3 {
    grid-area: name;
  }

  .contact {
    grid-area: contact;
    align-items: center;
  }

  hr {
    margin: 16px 0;
  }
}
