header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 8px 12px;
}

nav div {
  display: flex;
}

ws-button {
  margin: 0 4px;
}

h1 {
  font-family: var(--heading-font);
  color: var(--on-secondary);
  margin: 32px 0 0;
  font-size: 8rem;
  align-self: center;
}
