header {
  position: sticky;
  top: -14.2rem;
  background-color: var(--primary);
  padding: 16px 24px 24px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav div {
  display: flex;
}

ws-button {
  margin: 0 8px;
}

h1 {
  font-family: var(--themed-font);
  color: var(--on-primary);
  margin: 0;
  font-size: 8rem;
}

p {
  margin: -2rem 0 1.5rem 8px;
  font-family: var(--themed-font);
  color: var(--on-primary);
  font-size: 3rem;
}
